@media screen and (max-width: 470px) {
    .players {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 20px 0;
    }
    
    .player {
        width: 90%;
    }

    #player-1.player {
        display: flex;
        flex-direction: column;
    }

    #player-1 .heading {
        text-align: center;
    }

    .title,
    .subtitle {
        font-size: 100%;
    }

    .controls {
        margin: 0 50px;
    }
}